body {
  /* font-family: "Work Sans", sans-serif; */
  /* font-family: "DM Sans", sans-serif; */
  font-family: "Signika", sans-serif;
  margin: 0;
  background-color: rgb(44, 44, 44);
  color: white;
}

h1 {
  font-family: "Oswald", sans-serif;
}

#banner-container {
  width: 100%;
  background-color: black;
}

#banner {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#newartist-btn,
#showfav-btn,
#showall-btn,
#search-btn {
  /* background-color: #1db954; */
  background-color: black;
  color: #1db954;
  padding: 0.5em 1em 0.3em 1em;
  border-radius: 1em;
  margin: 1em;
  border: none;
  font-family: "Signika", sans-serif;
  transition: scale 0.1s;
  font-size: medium;
}

#newartist-btn:hover,
#showfav-btn:hover,
#showall-btn:hover,
#search-btn:hover {
  cursor: pointer;
  scale: 1.02;
  opacity: 0.7;
}

.buttons {
  background-color: black;
  color: #1db954;
  padding: 0.5em 1em 0.3em 1em;
  border-radius: 1em;
  margin: 1em;
  border: none;
  font-family: "Signika", sans-serif;
  transition: scale 0.1s;
  font-size: medium;
}

.buttons:hover {
  cursor: pointer;
  scale: 1.02;
  opacity: 0.7;
}

.add-icon {
  vertical-align: middle;
}

#data-txt-container {
  text-align: center;
}

/* ------GRID------ */
#grid {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
  margin: auto;
  justify-self: center;
}

.grid-item {
  box-shadow: 1px 1px 8px var(--black-shadow);
  padding: 1.5em;
  background-color: white;
  transition: 0.5s;
  border-radius: 2em;
  text-align: center;
  background-color: rgb(29, 29, 29);
  transition: opacity 1s;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 black;
  opacity: 0.7;
}

.grid-img {
  border-radius: 1em;
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.grid-description {
  font-weight: lighter;
  color: white;
  opacity: 0.5;
}

.fav-btn {
  background-color: Transparent;
  border: none;
  font-size: 18px;
}

.fav-btn:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#player {
  margin: auto;
  width: 500px;
}

/* ------CRUD dialog Grid------ */
#dialog-read {
  margin: auto;
}

#dialog-grid {
  display: grid;
  grid-template-columns: 20em 20em;
  gap: 1em;
  padding: 1em;
  margin: auto;
  justify-self: center;
}

#artist-image {
  border-radius: 1em;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

#close-btn {
  background: none;
  border: none;
  color: #1db954;
}

#close-btn:hover {
  scale: 1.05;
  cursor: pointer;
}

#buttons-artist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10em;
  padding: 1em;
  margin: auto;
  justify-self: center;
}

#delete-artist,
#delete-btn-submit {
  background-color: red;
  color: white;
  /* background-color: white;
  color: #1db954; */
}

#dialog-delete {
  width: 30em;
}

/* ------DIALOG------ */

dialog {
  border: none;
  border-radius: 1em;
  padding: 1em;
  background-color: rgb(34, 34, 34);
  color: rgb(226, 226, 226);
}

dialog::backdrop {
  background: rgba(40, 40, 40, 0.7);
}

#dialog-create form,
#dialog-update form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1em;
  gap: 1em;
}

#dialog-create input,
#dialog-create textarea,
#dialog-update input,
#dialog-update textarea {
  border: none;
  box-sizing: border-box;
  background-color: black;
  color: rgb(252, 252, 252);
  border-radius: 1em;
}

#dialog-create label,
#dialog-update label {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

#dialog-create div,
#dialog-update div {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

select {
  background-color: black;
  color: rgb(252, 252, 252);
}

input[type="search"],
select {
  border-radius: 1em;
  border: none;
  padding: 0.5em;
  background-color: black;
  color: rgb(252, 252, 252);
  outline: none;
}

#create-artist-btn-cancel,
#update-artist-btn-cancel {
  background-color: red;
  color: white;
  width: 1fr;
}
#create-artist-btn-save {
  background-color: rgb(0, 0, 0);
  width: 1fr;
}

#create-buttons-container,
#update-buttons-container {
  grid-column: 1 / span 2;
  margin: 0 auto;
}

/* ------Animations------ */
@keyframes zoom_effect {
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.zoom_effect {
  animation: zoom_effect 0.8s;
}

/* -------- RESPONSIVE -------- */
@media (min-width: 600px) {
  #grid {
    grid-template-columns: 1fr 1fr;
  }
  dialog {
    width: 80vw;
  }
  #banner {
    width: 80%;
  }
}

@media (min-width: 992px) {
  #grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #banner {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  #grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  dialog {
    width: 50vw;
  }
  #banner {
    width: 40%;
  }
}
@media (min-width: 1250px) {
  #data-interaction-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  dialog {
    width: 40vw;
  }
  #banner {
    width: 35%;
  }
}
@media (min-width: 1500px) {
  #grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
